@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Finger+Paint&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Aegreya Sans, sans-serif;
    font-weight: 300;
    color: #1D2237;
    background-color: #97b8c8;
}

header {
    background-color: #F6F9FA;
    height: 75px;
}


/* Headings and Logo */

h1, h2 {
    font-family: Finger Paint, sans-serif;
    letter-spacing: 2px;
    color: #697096;
}

#logo {
    float: left;
    font-size: 280%;
}

/* Nav menu links */

#menu {
    font-size: 110%;
    letter-spacing: 2px; 
    text-transform: uppercase;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #697096;
    border-bottom: 1px solid #697096;
}

.active {
    border-bottom: 1px solid #697096;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-color: #97b8c8;
    background-size: cover;
    opacity: 0.8;
}