@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Finger+Paint&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Finger Paint, sans-serif;
    font-weight: 300;
}